.about {
  background-color: $main-color-light;
  background-image: url(/img/about-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 33px;
  padding-bottom: 84px;
  border-radius: 0 0 30px 30px;
}

.about__wrap {
  padding-right: 38px;
  padding-left: 24px;
}

.about__title {
  color: $highlight-color4;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.about__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;

  &--bold {
    font-weight: 700;
  }
}

.about__button {
  display: none;
}

@media(min-width:$tablet-width) {
  .about__wrap {
    padding-left: 35px;
  }

  .about__content {
    max-width: 298px;
  }

  .about__button {
    display: block;
    width: 274px;
  }
}

@media(min-width:$desktop-width) {
  .about__content {
    max-width: 609px;
  }

  .about__wrap {
    padding-left: 71px;
  }
}
