
.by-country__title {
  color: $main-color-light;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

.by-country__list {
  @include reset-list;
}

.by-country__continents {
  .by-country__list-item {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  .by-country__list-link {
    color: rgba($main-color-light, 0.3);
  }


  .by-country__list-item--active {
    .by-country__list-link {
      color: $main-color-light;
    }
  }
}

.by-country__table {
  border-collapse: collapse;
}

.by-country__table-cell {
  border: 1px solid $nuetral-color5;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  width: 45px;
  height: 42px;

  a {
    display: block;
    color: $main-color-lighter;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
  }

  &--active {
    background-color: $main-color-lighter;

    a {
      color: #ffffff;

    }
  }
}

.by-country__country-names {
  .by-country__list-link {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
}

@media(min-width:$tablet-width) {
  .by-country__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .by-country__continents {
    width: 100%;
  }
}
