.by-travelmate {
    background-color: $highlight-color1;
    border-radius: 20px;
    padding: 26px 25px 22px;
}
.by-travelmate__title {
    font-size: 22px;
    font-weight: 700;
    line-height: 22.49px;
    color: $main-color-lighter;
}

.filters__field-group {
    border: none;
    padding: 0px;
    margin: 0px;
}
