.catalog__filter-by-travelmate {
  padding-top: 24px;
  padding-bottom: 28px;
}

.catalog__travelmates {
  padding-bottom: 46px;
}

.catalog__travelmates-list {
  @include reset-list;
}


@media (min-width:$desktop-width) {
  .catalog {
    display: flex;
  }
  .catalog__travelmates {
      order: -1;
      width: 950px;
      padding-top: 24px;
      margin-right: 85px;
  }

  .catalog__filter-by-travelmate {
      width: 285px;
  }
}
