.contacts__header {
  background-color:$highlight-color1;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 2;
  margin-top: -80px;
}

.contacts__wrap {
  width: 270px;
  margin: auto;
  padding-top: 110px;
  padding-bottom: 35px;
}

.contacts__address {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  font-style: normal;
  color: $main-color-light;
}

.contacts__map {
  z-index: 1;
  position: relative;
  margin-top: -35px;
  width: 100%;
  border: none;
}

@media(min-width:$tablet-width) {
  .contacts__wrap {
    width: 618px;
  }
}

@media(min-width:$desktop-width) {
  .contacts__wrap {
    width: 1174px;
    padding-left: 151px;
  }
}
