.countries {
  padding-top: 72px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;
}

.countries__header {
  padding: 27px 25px 36px;
}

.countries__title {
  color: $highlight-color4;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 0px;
}

.countries__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.countries__list {
  @include reset-list;
}


@media(min-width:$tablet-width) {
  .countries__wrap {
    padding-left: 35px;
    padding-right: 35px;
  }

  .countries__header {
    max-width: 337px;
    padding-left: 0px;
    margin: 0;
  }
}

@media(min-width:$desktop-width) {
  .countries__wrap {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    padding-right: 182px;
    padding-left: 71px;
  }

  .countries__header {
    padding-bottom: 150px;
    padding-right: 0px;
    width: 337px;
    margin-left: auto;
  }

  .countries__button {
    position: absolute;
    right: 242px;
    bottom: 139px;
  }
}
