.filters {
  background-color: $neutral-color2;
  border-radius: 0 0 20px 20px;
}

.filters__by-country {
  width: 270px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 27px;
  border-radius: 0 0 20px 20px;
}

.filters__by-travelmate {
  padding: 24px 25px 28px;
}

.filters__list,
.filters__transport-list {
  @include reset-list;
}

.filters__field-group-title {
  color: $main-color-lighter;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  padding: 13px 0;
}

.filters__list-item {
  color: $text-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  padding: 6px 0;
}

@media(min-width:$tablet-width) {
  .filters__by-country {
    width: 618px;
  }
}
