.form-steps__field-wrap {
    margin-bottom: 21px;
}

.form-steps__step {
    padding: 24px 24px 22px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 10px;
  }

  .form-steps__step-number,
  .form-steps__step-title {
    color: $main-color-lighter;
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }

  .form-steps__step-instructions {
    color: #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
