.main-menu {
  margin-left: -25px;
  margin-right: -27px;
  margin-bottom: -25px;
}

.main-menu__wrap {
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
}

.main-menu__toggle {
  position: absolute;
  right: 0px;
  top: 20px;
}

.main-menu__list {
  @include reset-list;
}
