.page-main {
  background-color: $neutral-color1;
  position: relative;
  z-index: 1;
}

.page-main__header-wrap {
  width: 270px;
  margin: auto;
}

.page-main__header {
  background-color: $main-color;
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  display: flex;
  border-radius: 0 0 30px 30px;
}

.page-main__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 12px;
}

@media(min-width:$tablet-width) {
  .page-main__header-wrap {
    width: 618px;
  }
}

@media(min-width:$desktop-width) {
  .page-main__header-wrap {
    width: 1256px;
  }

  .page-main__header {
    height: 190px;
  }
}
