.profile {
  position: relative;
  z-index: 1;
}

.profile__wrap {
  padding-top: 23px;
  padding-bottom: 68px;
  display: flex;
  flex-wrap: wrap;
}

.profile__picture,
.profile__level {
  width: 50%;
}

.profile__button,
.profile__tags,
.profile__transport {
  width: 100%;
}

.profile__level {
  order: -1;
}

.profile__tags-title,
.profile__transport-list-title {
  color: $main-color;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.profile__tags-content {
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}



@media (min-width:$tablet-width) {
  .profile__wrap {
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
  }

  .profile__level {
    order: 1;
  }

  .profile__transport {
    order: 2;
  }

  .profile__picture {
    order: 3;
  }

  .profile__button {
    order: 4;
  }

  .profile__tags {
    order: 5;
  }

  .profile__level,
  .profile__picture {
    width: 94px;
  }

  .profile__transport {
    width: 308px;
  }
}

@media (min-width:$desktop-width) {
  .profile__wrap {
    padding-left: 64px;
    position: relative;
  }

  .profile__tags {
    width: 730px;
    order: 1;
  }

  .profile__transport {
    width: 384px;
    order: 2;
  }

  .profile__level,
  .profile__picture,
  .profile__button {
    position: absolute;
  }

  .profile__picture {
    right: 95px;
    top:-190px;
    width: 190px;
    height: 190px;
  }

  .profile__button {
    width: 190px;
    right: 95px;
    top: 0px;
  }

  .profile__level {
    width: 94px;
    height: 94px;
    right: 330px;
    top:-148px;
  }

}
