.profile {
  padding: 22px 25px 68px;
  position: relative;
  z-index: 1;
}

.profile__tags-title,
.profile__transport-list-title {
  color: $darker-blue;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.profile__tags-content {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
