.register {
  background-color: $lighter-blue;
  padding: 130px 25px 45px;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 3;
  margin-top: -80px;
  text-align: center;
}

.register__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: $orange-dark;

}

.register__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #ffffff;
}

.register__link {
  color: $yellow;
  text-decoration: underline;
}
