.register {
  background-color: $main-color-light;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 3;
  margin-top: -80px;
  text-align: center;
}

.register__wrap {
  width: 270px;
  margin: auto;
  padding-top: 130px;
  padding-bottom: 45px;
}

.register__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: $highlight-color4;

}

.register__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  color: #ffffff;
}

.register__link {
  color: $highlight-color1;
  text-decoration: underline;
}

@media(min-width:$tablet-width){
  .register__wrap {
    width: 618px;
  }
}

@media(min-width:$desktop-width){
  .register__wrap {
    width: 1174px;
  }
}
