.travelmates {
  background-color: $main-color-light;
  padding-top: 50px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;
}

.travelmates--no-bg {
  background: none;
}

.travelmates__list-item {
  background-color: #ffffff;
}

.travelmates__header {
  padding: 22px 25px 60px;
  color: #ffffff;
}

.travelmates__title {
  color: $highlight-color4;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.travelmates__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;

  &--bold {
    font-weight: 700;
  }
}

.travelmates__list {
  @include reset-list;
}

.travelmates--catalog {
  .travelmates__list {
    flex-direction: column;
  }
}

@media(min-width:$tablet-width) {
  .travelmates {
    padding: 0px;
  }

  .travelmates__wrap {
    padding-bottom: 88px;
    padding-left: 35px;
    padding-right: 35px;
  }

  .travelmates__header {
    width: 423px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 62px;
  }

  .travelmates__list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
  }

  .travelmates__item {
    width: 285px;
  }

  .travelmates--catalog {
    .travelmates__wrap {
      width: 688px;
    }
  }
}

@media(min-width:$desktop-width) {
  .travelmates__wrap {
    display: flex;
    position: relative;
    min-height: 602px;
    padding-top: 133px;
    padding-bottom: 134px;
    padding-left: 71px;
    padding-right: 0px;
  }

  .travelmates__header {
    padding-bottom: 168px;
    margin-right: 195px;
  }

  .travelmates__list {
    width: 630px;
  }

  .travelmates__button {
    position: absolute;
    left: 72px;
    bottom: 134px;
  }
}
