// theme Colors
$main-color:#161c35;
$main-color-light:#192144;
$main-color-lighter:#1d2e5b;
$main-color-dark:#0f1633;

$text-color:#444444;

$neutral-color1:#edeff6;
$neutral-color2:#e2e5f2;
$nuetral-color3:#dfe3f0;
$nuetral-color4:#d4d9eb;
$nuetral-color5:#cbced9;
$nuetral-color6:#e1e3ea;

$highlight-color1:#ffd74b;
$highlight-color2:#ffbd30;
$highlight-color3:#ffa530;
$highlight-color4:#ff8d30;
$highlight-color5:#ff5c23;


// Breakpoints
$tablet-width:768px;
$desktop-width:1440px;
