// theme Colors

$dark-blue: #0f1633;
$darker-blue:#161c35;
$lighter-blue: #192144;

$soft-grey:#edeff6;
$dark-grey:#e2e5f2;

$form-grey-1:#dfe3f0;
$form-grey-2:#d4d9eb;

$yellow:#ffd74b;
$orange-light: #ffbd30;
$orange-middle: #ffa530;
$orange-dark: #ff8d30;
